* {
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

p {
  margin: 0;
}

span {
  font-weight: bolder;
}

form {
  width: 90%;
  margin: 10px auto;
  display: grid;
  border: 1px solid #000;
  border-radius: 6px;
  overflow: hidden;
}

.SearchFilter {
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.SearchFilter i {
  font-style: unset;
}

.SearchFilter input {
  width: 100%;
}

.StateFilter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.StateFilter button {
  border: none;
  border-radius: 6px;
  background: rgba(0, 0, 0, .14);
  padding: 6px 14px;
  font-size: 14px;
  font-weight: bolder;
  transition: 800ms;
}

.StateFilter button.active {
  border: 1px solid #000;
  background: rgba(0, 0, 0, .2);
}

.StateFilter button:hover {
  border: 1px solid #000;
  background: rgba(0, 0, 0, .18);
}

.SortingFilter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.SortingFilter button {
  border: none;
  border-radius: 6px;
  background: rgba(0, 0, 0, .14);
  padding: 6px 14px;
  font-size: 14px;
  font-weight: bolder;
  transition: 800ms;
}

.SortingFilter button.active {
  border: 1px solid #000;
  background: rgba(0, 0, 0, .2);
}

.SortingFilter button:hover {
  border: 1px solid #000;
  background: rgba(0, 0, 0, .18);
}

.TypeFilter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.TypeFilter button {
  border: none;
  border-radius: 6px;
  background: rgba(0, 0, 0, .14);
  padding: 6px 14px;
  font-size: 14px;
  font-weight: bolder;
  transition: 800ms;
}

.TypeFilter button.active {
  border: 1px solid #000;
  background: rgba(0, 0, 0, .2);
}

.TypeFilter button:hover {
  border: 1px solid #000;
  background: rgba(0, 0, 0, .18);
}

input[type="text"] {
  font-size: 20px;
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 6px;
}

.Container {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  border-radius: 6px;
  grid-template-columns: repeat(5, 1fr);
}

article {
  border-radius: 6px;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: 800ms;
}

article.Hidden {
  display: none;
}

.Cover {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
}

.Info {
  width: 100%;
}

.Info h2 {
  transition: 800ms;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.Actions {
  width: 100%;
  padding: 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Actions button {
  font-weight: bolder;
  padding: 6px 14px;
  border: 1px solid #000;
  border-radius: 6px;
}

@media only screen and (max-width: 1115px) {
  .Container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 960px) {
  .Container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 760px) {
  .Container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .Container {
    grid-template-columns: 1fr;
  }
}